#frogger-canvas {
  background: black;
  display: block;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin: 1% 0;
  padding: 0 20%;
}

body {
  background-color: black;
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}
